*{
    width: auto;
    margin: 0;
    padding: 0;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    background-image: url(./img/HHWEBSITEFONDO1.png);
    
    
}
header{
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    top: 0;
    position: fixed;
    z-index: 1;
    margin: 0;
    padding: 0;
    
    
}
nav ul li{
    display: inline-block;
    
    
}

header a{
    text-decoration: none;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #013042;
}
header nav li:hover{
    text-decoration: underline;
}
.headerbutton{
    border: 0px;
    background-color: #c01a2e;
    color: white;
    border-radius: 12px;
    font-size: 12px;
}
.headerbutton i{
    color: white;
}

.logo{
    width: 134px;
    margin-left: 30px;
}



body{
    margin: 0;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    
    
    
}
footer{
    display: flex;
    background-color: white;
    gap: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-items: center;
    color: #013042;
    bottom: 0;
}

.logofooter{
    width: 130px;
    margin-left: 20px;
    padding: 20px;
}

.redesfooter{
    font-size: 30px;
    margin-right: 20px;
    padding: 20px;
}

.redesfooter a{
    color: #c01a2e;
}



.checkbtn{
    font-size: 35px;
    color: #013042;
    float: right;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.btnflotante{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 80px;
    right: 30px;
    background: green;
    color: white;
    border-radius: 60px;
    text-align: center;
    font-size: 40px;
}

.btnflotante:hover{
    background: white;
    color: green;
}

button{
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
}

button a{
    color: #013042;
}

.container1{
    
    display: flex;
    
    line-height: 30px;
     /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 54% 3%, rgba(192, 26, 46, 0.27) 0%, rgba(1, 48, 66, 0.16) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 54% 3%, rgba(192, 26, 46, 0.27) 0%, rgba(1, 48, 66, 0.16) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 54% 3%, rgba(192, 26, 46, 0.27) 0%, rgba(1, 48, 66, 0.16) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 54% 3%, rgba(192, 26, 46, 0.27) 0%, rgba(1, 48, 66, 0.16) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 54% 3%, rgba(192, 26, 46, 0.27) 0%, rgba(1, 48, 66, 0.16) 100%);
    
}

.loquitos img{
    padding-top: 60px;
    
}

.container1 .soluciones{
    color: #013042;
    font-size: 60px;
    font-weight: 700;
    
}
.container1 .ecommerce{
    color: #c01a2e;
    font-size: 60px;
    font-weight: 700;
    
}
.container1 p{
    color: #013042;
    font-size: 20px;
}

.container1 a{
    text-decoration: none;
    color: white;
    background-color: #c01a2e;
    padding: 10px;
    border-radius: 10px;
}
.solucionesecommerce{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 50px;
    
}

.solucionesecommerce a:hover{
    font-weight: bold;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    text-align: center;
}

section h6{
    color: #c01a2e;
}

section p{
    color: #013042;
    font-size: 30px;
    font-weight: bold;
}

.servicios{
    display: flex;
    gap: 20px;
    width: 100%;
    margin-top: 50px;
    
}

.categoria{
    box-shadow: 1px 1px 3px black;
    padding: 10px;
    border-radius: 30px;
    width: 30%;
}
.categoria img{
    width: 100px;
    margin: 10px;
}
.categoria p{
    text-align: center;
    font-weight: lighter;
    font-size: 15px;
}

.categoria i{
    font-size: 25px;
    color: #013042;
    padding-top: 20px;
}



.tienda{
    display: flex;
    gap: 100px;
    margin-top: 100px;
    width: 100%;
}

.chamulo{
    width: 30%;
}
.tienda div img{
    width: 500px;
}
.tienda h3{
    color: #c01a2e;
    font-weight: bold;
    font-size: 20px;
}


.botongeneral{
    text-decoration: none;
    color: white;
    background-color: #c01a2e;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;

}

.nosotro{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.nosotro img{
    width: 500px;
    padding-right: 60px;
    padding-left: 60px;
}

.nosotro h3{
    color: #c01a2e;
    
}

.nosotro h2{
    color: #013042;
}

.nosotro a{
    text-decoration: none;
    color: white;
    background-color: #c01a2e;
    padding: 10px;
    border-radius: 30px;
    font-weight: bold;
}

.textito{
    padding-left: 100px;
    padding-right: 60px;
}


.mundo{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.multinacionales{
    padding-right: 50px;
}
.multinacionales h3{
    color: #c01a2e;
    font-size: 20px;
}

.multinacionales h2{
    color: #013042;
}

.mapaimg{
    position: absolute;
    width: 800px;
    padding-top: 20px;
}

.marcadoresimg{
    position: relative;
    width: 800px;
    z-index: 0;
}
.containerproyectos{
    text-align: center;
    width: 100%;
    margin-top: 20px;
    background-color: lightcyan;
}

.containerproyectos h3{
    color: #c01a2e;
    font-size: 20px;
}
.containerproyectos h2{
    color: #013042;
    font-size: 30px;
    padding-bottom: 20px;
}
.proyectos{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 100px;
    text-align: left;
    margin-top: 50px;
    
}

.proyectos img{
    width: 300px;
}

.porfolio{
    color: black;
    font-weight: bold;
    padding-top: 200px;
    text-decoration: none;
    border-bottom: 2px solid #c01a2e;
}
.botongeneral1 {
    text-decoration: none;
    color: black;
    border: 1px solid blueviolet;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 10px;
}

.logosclientes{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.logosclientes img{
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    filter: grayscale(1);
    background-color: var(--gray);

}

.logosclientes img:hover{
    filter: none;
    background-color: none;
}

.clientestitulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.clientestitulo h3{
    color: #c01a2e;
    font-size: 20px;

}

.clientestitulo h2{
    color: #013042;
}

.contact_form{  
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
  }
  
  
  input{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color:#c01a2e; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }
  
  
  textarea{
    background-color: #fbfbfb; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #c01a2e; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    height: 45px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 20px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color:#c01a2e; 
    border-color: #c01a2e; 
    border-style: solid; 
    border-radius: 10px;  
    width: 420px;   
    cursor: pointer;
  }
  
  
  button p{
    color: #fff; 
  }
  
  .formulario{
    display: flex;
    justify-content: center;
    align-items: start;
    padding-left: 50px;
    padding-right: 50px;
    gap: 30px;
    margin-top: 30px;
    
  }

.formulario h3{
    font-size: 20px;
    color: #013042;
}
.cosopumformulario{
    display: flex;
    flex-direction: column;
}

.cosopumformulario a{
    text-decoration: none;
}

.was{
    color: white;
    font-size: 30px;
    border-radius: 50px;
    background-color: yellowgreen;
    padding: 10px;
}

.loc{
    color: white;
    font-size: 30px;
    border-radius: 50px;
    background-color: orangered;
    padding: 10px;
}

.mail{
    color: white;
    font-size: 30px;
    border-radius: 50px;
    background-color: salmon;
    padding: 10px;
}
.contactoform{
    display: flex;
    gap: 20px;
    justify-content: start;
    line-height: 5px;
    margin-top: 10px;
}
.contactoform h5{
    color: #013042;
}
.contactoform p{
    color: #c01a2e;
    
}

.areasfooter{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.areasfooter a{
    text-decoration: none;
    color: #c01a2e;
    font-size: 13px;
}
.areasfooter h3{
    font-size: 15px;
    color: #013042;
}


footer p{
    padding-right: 100px;
    padding-left: 30px;
}

.piedepie{
    display: flex;
    justify-content: start;
    align-items: center;

}
@media screen and (max-width: 600px){
    
    body{
        padding: 0;
        overflow-x: hidden;
        
        
    }
    header{
        display: flex;
        align-items: center;
        width: 100%;
        z-index: 1;
        padding-right: 10px;
        
        
        
        
    }
    .logo{
        margin-left: 0;
    }
    

    .checkbtn{
        display: block;     
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100uv;
        background: #013042;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all.5s;    
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        
        

    }
    nav ul li a{
        color: white;
             
    }

    nav ul li a:hover{
        color: white;
             
    }
    
    
    #check:checked ~ ul{
        left:0;
    }
    
    .btnflotante{
        position: fixed;
        width: 50px;
        height: 50px;
        line-height: 50px;
        bottom: 80px;
        right: 30px;
        background: green;
        color: white;
        border-radius: 60px;
        text-align: center;
        font-size: 35px;
    }
    
    .btnflotante:hover{
        background: white;
        color: green;
    }

   .headerbutton{
    display: none;
   }

   .container1{
    flex-direction: column;
    padding-top: 100px;
    }

    
    .loquitos{
        padding: 30;
        justify-content: center;
        align-items: center;
    }
    .loquitos img{
        width: 90%;
        padding: 20px;
        

    }

    section p{
        font-size: 20px;
    }

    .solucionesecommerce{
        margin-left: 5px;
        margin-right: 0;
        width: auto;
    }

    .solucionesecommerce p{
        font-size: 15px;
    }


    .tienda{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        gap: 0;
        
    }

    .tienda div{
        margin: 0;
        padding: 2px;
    }
    .tienda div img{
        width: 150px;
    }
    
    .chamulo{
        margin: 0;
        padding: 5px;
        text-align: center;
        width: 100%;
        
    }
    .chamulo h3, h2{
        font-size: 15px;
    }

    .chamulo p, a{
        font-size: 10px;
        
    }

    .chamulo a{
        padding: 2px;
    }
    .servicios{
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .categoria{
        width: 90%;
        margin: 0;
        padding: 10px;
    }
    .categoria img{
        width: 50px;
    }
    .categoria p{
        font-size: 10px;
    }
    .categoria h2{
        font-size: 15px;
    }
    
    .nosotro{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .nosotro a{
        font-size: 15px;
    }
    .nosotro img{
        width: 300px;
    }

    .textito{
        margin: 0;
        padding: 10px;
        text-align: center;
        font-size: 10px;
    }

    .container1 .soluciones{
        font-size: 50px;
    }
    .container1 .ecommerce{
        font-size: 50px;
    }
    .mundo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .mapaimg{
        width: 400px;
    }

    .marcadoresimg{
        width: 400px;
        padding-top: 10px;
        z-index: 0;
    }

    .multinacionales h2{
        font-size: 30px;
    }

    .multinacionales h3{
        font-size: 17px;
    }

    .proyectos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
    }

    .logosclientes img{
        width: 35px;
        padding-left: 5px;
        padding-right: 5px;
        filter: none;
        background-color: none;
    
    }

    .formulario{
        flex-direction: column;
        padding-left: 5px;
        padding-right: 5px;
        justify-content: center;
        align-items: center;
    }

    .contact_form{  
        width: 300px; 
        height: auto;
        margin: auto;
        border-radius: 10px;  
        padding-top: 30px;
        padding-bottom: 20px;  
        background-color: #fbfbfb; 
        padding-left: 0; 
      }
      
      
      input{
        background-color: #fbfbfb; 
        width: 300px; 
        height: 40px; 
        border-radius: 5px;  
        border-style: solid; 
        border-width: 1px; 
        border-color:#c01a2e; 
        margin-top: 10px;  
        padding-left: 10px;
        margin-bottom: 20px; 
      }
      
      
      textarea{
        background-color: #fbfbfb; 
        width: 300px; 
        height: 150px; 
        border-radius: 5px;  
        border-style: solid; 
        border-width: 1px; 
        border-color: #c01a2e; 
        margin-top: 10px;  
        padding-left: 10px;
        margin-bottom: 20px; 
        padding-top: 15px; 
      }
      
      
      label{
        display: block; 
        float: center;  
      }
      
      
      button{
        height: 45px; 
        padding-left: 5px;
        padding-right: 5px;   
        margin-bottom: 20px; 
        margin-top: 10px;   
        text-transform: uppercase;
        background-color:#c01a2e; 
        border-color: #c01a2e; 
        border-style: solid; 
        border-radius: 10px;  
        width: 300px;   
        cursor: pointer;
      }
    
    .cosopumformulario p{
        font-size: 10px;
    }
    .areasfooter a{
        font-size: 8px;
    }

    .areasfooter h3{
        font-size: 8px;
    }

    .piedepie{
        justify-content: start;
        align-items: baseline;
    }

    .piedepie h5{
        font-size: 15px;

    }
    footer div p{
        font-size: 10px;
        padding-left: 10px;
        padding-top: 0;
        padding-right: 0;
    }

    .redesfooter{
        padding: 0;
        padding-left: 10px;

    }
    .redesfooter i{
        font-size: 15px;
    }

    .logofooter{
        padding: 0;
    }
    footer{
        margin-top: 55px;
        gap: 0;
        justify-content: center;
        align-items: baseline;
    }
        
}